.registrar-page {
  height: 100vh;
  overflow: hidden;
}

.registrar-header {
  height: 90px;
  background: #740000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.registrar-header h1 {
  color: white;
  font-size: 3rem;
}


.registrar-content {
  display: flex;
  height: calc(100vh - 90px);
}

/* LADO ESQUERDO */

.lado-esquerdo {
  width: 50%;
  background: #9d0000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-esquerdo {
  display: flex;
  flex-direction: column;

  width: 450px;
}

.painel-esquerdo h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
}

/* LADO DIREITO */

.lado-direito {
  width: 50%;
  background: #f0efeb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-direito {
  display: flex;
  flex-direction: column;

  width: 500px;
}

.painel-direito h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

/* SWITCH */

.switch-container {
  position: relative;

  width: 280px;
  height: 65px;

  background: #137a8b;

  border-radius: 40px;

  display: flex;
  align-items: center;

  padding: 5px;

  margin-bottom: 50px;
}

.switch-option {
  width: 50%;
  height: 100%;

  border: none;
  background: transparent;

  cursor: pointer;

  font-size: 1rem;
  font-weight: 600;

  z-index: 2;
}

.switch-slider {
  position: absolute;

  top: 5px;
  left: 5px;

  width: 135px;
  height: 55px;

  background: white;

  border-radius: 40px;

  transition: 0.3s;
}

.switch-slider.direita {
  transform: translateX(135px);
}

/* BENEFÍCIOS */

.beneficios {
  display: flex;
  gap: 15px;

  margin-bottom: 50px;
}

.beneficios button {
  width: 110px;
  height: 55px;

  border-radius: 40px;
  border: none;

  cursor: pointer;
}

.ativo {
  background: #137a8b;
  color: white;
}

/* BUSCA */

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  width: 400px;
  height: 50px;

  padding: 10px;
}

.search-box button {
  width: 50px;
}

.trocar-busca {
  margin-top: 15px;
  margin-bottom: 30px;

  cursor: pointer;
}

/* CARD */

.card-colaborador {
  width: 400px;
  min-height: 120px;

  background: white;

  border: 2px solid #ccc;

  padding: 20px;

  margin-bottom: 30px;
}

/* BOTÃO */

.registrar-btn {
  width: 220px;
  height: 55px;

  border: none;
  border-radius: 30px;

  background: #137a8b;
  color: white;

  cursor: pointer;
}

.btn-voltar {
  position: absolute;
  left: 20px;

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;

  background: white;
  color: #740000;

  font-size: 1.2rem;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-voltar:hover {
  background: #f0f0f0;
}